*,
*::before,
*::after {
  box-sizing: border-box;
}

.btn {
  background-color: rgb(20 184 166) !important;
  padding: 0.5rem;
  cursor: pointer;
}

.btn:hover {
  filter: brightness(85%);
}

.center {
  margin-inline: auto;
  width: fit-content;
  display: block;
}

table {
  background-color: rgb(114, 248, 233);
  width: 100%;
  margin-top: 0.5rem;
}

th {
  padding: 1rem;
}
.hidden {
  display: none;
}
